body.simulation-enabled #wander-map,
body.simulation-enabled #wander-map * {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body.simulation-enabled #wander-map img,
body.simulation-enabled #wander-map svg {
  -webkit-user-drag: none;
  user-drag: none;
}
